<html lang="en">

    <head>

        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>400 ERROR</title>
        <link rel="stylesheet"
            href="https://raw.githubusercontent.com/Yohith-Programmer101/Web-Projects/main/Projects/navstyle.css">
        <meta name="keywords"
            content="coder101, coderone, hacker101, hackerone, example, html, css, javascript , animation, transmition, background, styling , style , script">
        <meta name="author" content="Yohith">
        <meta name="owner" content="Yohith">
        <link rel="shortcut icon" href="{% static 'coder.png' %}" type="image/x-icon">
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
                background: #999999;
                display: flex;
                justify-content: center;
                padding: 10px;
                align-items: center;
            }
        </style>
    </head>

    <body>
        <p style="color: white; font-size: 40px;">400 ERROR</p>
    </body>

</html>