<!DOCTYPE html>
<html lang="en">

    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="shortcut icon"
            href="https://us.123rf.com/450wm/sommersby/sommersby1908/sommersby190800026/129073448-thin-line-hacker-or-coder-icon-on-a-grey-background.jpg?ver=6"
            type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <meta name="description" content="About the website coder101 website.">
        <meta name="og:title" content="Projects" />
        <meta name="og:url" content="https://coder101.herokuapp.com" />
        <meta name="og:image" content="https://coder101.herokuapp.com/static/favicon.ico" />
        <meta name="og:image:height" content="100">
        <meta name="og:image:width" content="100">
        <meta name="og:description" content="About the website coder101 website.">
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            img {
                width: 300px;
                height: 300px;
            }
        </style>
        <style id="import"></style>
    </head>

    <body>
        <div class="scrollmenu">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'about' %}" class="active">About</a>
            <a href="{% url 'author' %}">Author</a>
        </div>
        <br>
        <p style="font-size: 40px;">About</p>
        <hr style="height: 2px; background-color: black;">
        <img src="https://us.123rf.com/450wm/sommersby/sommersby1908/sommersby190800026/129073448-thin-line-hacker-or-coder-icon-on-a-grey-background.jpg?ver=6"
            alt="coder.jpg" style="border-radius: 50%;">
        <p style="font-size: 35px;"><u>CODER 101</u></p>
        <p>This website is a collection of varies types of web projects with HTML, CSS and JavaScript. All
            these web pages were made by Me(author) and my friends and some of them from online. If you want
            your projects to be in the website you can contact me to add it. While contacting me send me
            a
            message with the file to add it or if you already have a domain name send the domain name. If you are
            wishing to give your web project files join this whatsapp
            group <a href="https://chat.whatsapp.com/HX6JQrnexB022LhZkqErf0"
                target="_blank">https://chat.whatsapp.com/HX6JQrnexB022LhZkqErf0</a> or this discord server <a
                href="https://discord.gg/HNvXnPkUSP" target="_blank">https://discord.gg/HNvXnPkUSP</a></p>
        <script>
            $("#import").load("https://raw.githubusercontent.com/Yohith-Programmer101/Web-Projects/main/Projects/navstyle.css")
        </script>
    </body>

</html>