<html lang="en">

    <head>

        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project Not Found</title>
        <meta name="keywords"
            content="coder101, coderone, hacker101, hackerone, example, html, css, javascript , animation, transmition, background, styling , style , script">
        <meta name="author" content="Yohith">
        <meta name="owner" content="Yohith">
        <link rel="shortcut icon"
            href="https://us.123rf.com/450wm/sommersby/sommersby1908/sommersby190800026/129073448-thin-line-hacker-or-coder-icon-on-a-grey-background.jpg?ver=6"
            type="image/x-icon">
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
                background: #999999;
                display: flex;
                justify-content: center;
                padding: 10px;
                align-items: center;
            }
        </style>
    </head>

    <body>
        <p style="color: white; font-size: 40px;">Project Not Found</p>
    </body>

</html>