<html lang="en">

  {% load static %}

  <head>
    <title>2D and 3D Transforms</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Baloo 2' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="keywords"
      content="coder101, coderone, hacker101, hackerone, example, html, css, javascript , animation, transmition, background, styling , style , script">
    <meta name="author" content="Yohith">
    <meta name="owner" content="Yohith">
    <link rel='shortcut icon' type='image/ico'
      href='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_GE4a6ygaD7lKCjIaPbPWHI8SFcJLXs_iow&usqp=CAU'>
    <meta name="description"
      content="This page is a part of coder101 website, an example to show transmitions with raw CSS.">
    <link rel="stylesheet" href="{% static '2D and 3D transforms/2d and 3d transforms.css' %}">
    <link rel="stylesheet" href="{% static 'navstyle.css' %}">
    <style>
      body {
        font-family: "Baloo 2";
      }
    </style>
  </head>

  <body>
    <h1><b><u>2D Tranforms</u></b></h1>
    <div class="container">
      <div id="c1">
        <p>container</p>
      </div>
      <div id="c2">
        <p>container</p>
      </div>
      <div id="c3">
        <p>container</p>
      </div>
      <div id="c4">
        <p>container</p>
      </div>
      <div id="c5">
        <p>container</p>
      </div>
      <div id="c6">
        <p>container</p>
      </div>
      <div id="c7">
        <p>container</p>
      </div>
      <hr style="height: 2px; background-color: black;">
      <h1><b><u>3D Tranforms</u></b></h1>
      <div id="c8">
        <p>container</p>
      </div>
      <div id="c9">
        <p>container</p>
      </div>
      <div id="c10">
        <p>container</p>
      </div>
      <hr style="height: 2px; background-color: black;">
    </div>
  </body>

</html>