.container div{
    margin: 10px;
    padding: 5px;
    height: 100px;
    width: 100px;
    border: black solid 1px;
    background-color: grey;
}

#c1:hover{
    transform: translate(50px, 100px);
    transition-duration: 2s;
}

#c2:hover{
    transform: rotate(360deg);
    transition-duration: 4s;
}

#c3:hover{
    transform: rotate(-360deg);
    transition-duration: 4s;
}

#c4:hover{
    transform: scale(2, 2);
    transition-duration: 2s;
}

#c5:hover{
    transform: scale(0.5, 0.5);
    transition-duration: 4s;
}

#c6:hover{
    transform: skew(30deg, 30deg);
    transition-duration: 4s;
}

#c7:hover{
    transform: skew(30deg);
    transition-duration: 4s;
}

#c8:hover{
    transform: rotateX(360deg);
    transition-duration: 4s;
}

#c9:hover{
    transform: rotatey(360deg);
    transition-duration: 4s;
}

#c10:hover{
    transform: rotatez(360deg);
    transition-duration: 4s;
}